.class-0 {width: 1505.0px; height: 881.0px; position: relative; background: rgba(0, 0, 0, 0.0)}
.class-1 {width: 1505px;
        height: 881px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: transparent;}
.class-2 {width: 1505.0px; height: 881.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-3 {width: 1505.0px; height: 90.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(0, 132, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-4 {width: 116.0px; height: 55.0px; 
                left: 48px; top: 18px; 
                position: absolute; object-fit: cover;}
.class-5 {width: 91px;
        height: 36px;
        left: 1332px;
        top: 27px;
        position: absolute;
        background: transparent;}
.class-6 {width: 45px; height: 28px; left: 46px; top: 4px; position: absolute; text-align: left; color: #ffffff; font-size: 20px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-7 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-8 {width: 247.0px; height: 791.0px; 
                left: 0px; top: 90px; 
                position: absolute; background: rgba(30, 136, 229, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-9 {width: 50px; height: 22px; left: 21px; top: 134px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-10 {width: 53px; height: 22px; left: 53px; top: 390px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-11 {width: 247.0px; height: 41.0px; 
                left: 0px; top: 333px; 
                position: absolute; background: rgba(225, 25, 55, 1.0); 
                 border-radius: 4.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-12 {width: 170px; height: 22px; left: 44px; top: 185px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-13 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 392px; 
                position: absolute; object-fit: cover;}
.class-14 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 184px; 
                position: absolute; object-fit: cover;}
.class-15 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 288px; 
                position: absolute; object-fit: cover;}
.class-16 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 340px; 
                position: absolute; object-fit: cover;}
.class-17 {width: 144px; height: 22px; left: 46px; top: 238px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-18 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 236px; 
                position: absolute; object-fit: cover;}
.class-19 {width: 92px; height: 22px; left: 46px; top: 289px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-20 {width: 26.0px; height: 26.0px; 
                left: 1276px; top: 31px; 
                position: absolute; object-fit: cover;}
.class-21 {width: 56px; height: 22px; left: 49px; top: 341px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-22 {width: 760.0px; height: 394.0px; 
                left: 435px; top: 185px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                 border-radius: 16.0px; box-shadow: 0.0px 2.0px 2.0px 0px rgba(0, 0, 0, 0.25); 
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-23 {width: 55px; height: 22px; left: 465px; top: 191px; position: absolute; text-align: left; color: #000000; font-size: 16px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-24 {width: 693.0px; height: 48.0px; 
                left: 459px; top: 227px; 
                position: absolute; background: rgba(217, 217, 220, 0.16); 
                 border-radius: 5.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-25 {width: 693.0px; height: 48.0px; 
                left: 459px; top: 289px; 
                position: absolute; background: rgba(217, 217, 220, 0.16); 
                 border-radius: 5.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-26 {width: 693.0px; height: 48.0px; 
                left: 459px; top: 415px; 
                position: absolute; background: rgba(217, 217, 220, 0.16); 
                 border-radius: 5.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-27 {
              width: 60px; 
              height: 22px; 
              left: 1030px; 
              top: 240px; 
              position: absolute;
              text-align: left; 
              color: #000000; 
              font-size: 16px; 
              font-family: 'Noto Sans', sans-serif; 
              font-weight: 600; 
              border: none;
              background: transparent;
              outline: none;
            }
.class-28 {
                width: 71px; height: 22px; left: 1030px; top: 364px; position: absolute; text-align: left; border: none;background: transparent;
                outline: none; color: #000000; font-size: 16px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;
                }
.class-29 {
            width: 76px; height: 22px; left: 1030px; top: 302px; position: absolute; text-align: left; border: none;background: transparent;
            outline: none; color: #000000; font-size: 16px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;
          }
.class-30 {width: 97px; height: 22px; left: 1030px; top: 430px; position: absolute; outline: none; border: none; text-align: left; color: #000000; font-size: 16px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-31 {
                    width: 693px; 
                    height: 48px;
                    position: absolute;
                    left: 459px;
                    top: 490px;
                    background: rgba(66, 133, 244, 1);
                    border-radius: 5px;
                    transform: rotate(0deg);
                    transform-origin: 0 0;
                    border: none;
                    cursor: pointer;
                    color: #ffffff;
                    font-size: 20px;
                    font-family: 'Noto Sans', sans-serif;
                    font-weight: 600;
                }
.class-32 {width: 64px; height: 22px; left: 508px; top: 240px; position: absolute; text-align: left; color: #706868; font-size: 16px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-33 {width: 37px; height: 22px; left: 508px; top: 300px; position: absolute; text-align: left; color: #706868; font-size: 16px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-34 {width: 693.0px; height: 48.0px; 
                left: 459px; top: 351px; 
                position: absolute; background: rgba(217, 217, 220, 0.16); 
                 border-radius: 5.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-35 {width: 69px; height: 22px; left: 508px; top: 364px; position: absolute; text-align: left; color: #706868; font-size: 16px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-36 {width: 37px; height: 22px; left: 508px; top: 428px; position: absolute; text-align: left; color: #706868; font-size: 16px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-37 {width: 144px;
        height: 47px;
        left: 44px;
        top: 769px;
        position: absolute;
        background: transparent;}
.class-38 {width: 144px; height: 47px; background: rgba(255, 255, 255, 1.0); border-radius: 9px; position: absolute; left: 0px; top: 0px; font-family: Open Sans; font-size: 16px; font-weight: 600; color: #000000; text-align: center;}
.class-39 {width: 91px;
        height: 27px;
        left: 21px;
        top: 11px;
        position: absolute;
        background: transparent;}
.class-40 {width: 27.0px; height: 27.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
