.class-0 {width: 658.0px; height: 356.0px; position: relative; background: rgba(0, 0, 0, 0.0)}
.class-1 {width: 658.0px; height: 356.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                 border-radius: 23.0px; box-shadow: 0.0px 4.0px 4.0px 0px rgba(0, 0, 0, 0.25); 
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-2 {width: 53px; height: 19px; left: 46px; top: 43px; position: absolute; text-align: left; font-size: 16px; letter-spacing: 0.0px; text-transform: none;}
.class-3 {color: #000000; font-family: Lato; font-weight: 400;}
.class-4 {color: #ff0000; font-family: Lato; font-weight: 400;}
.class-5 {width: 47px; height: 19px; left: 46px; top: 145px; position: absolute; text-align: left; font-size: 16px; letter-spacing: 0.0px; text-transform: none;}
.class-6 {color: #000000; font-family: Lato; font-weight: 400;}
.class-7 {color: #ff0000; font-family: Lato; font-weight: 400;}
.class-8 {width: 88px; height: 19px; left: 46px; top: 233px; position: absolute; text-align: left; color: #000000; font-size: 16px; font-family: Lato; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-9 {width: 57px; height: 19px; left: 335px; top: 232px; position: absolute; text-align: left; color: #000000; font-size: 16px; font-family: Lato; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-10 {width: 81px; height: 19px; left: 341px; top: 43px; position: absolute; text-align: left; font-size: 16px; letter-spacing: 0.0px; text-transform: none;}
.class-11 {color: #000000; font-family: Lato; font-weight: 400;}
.class-12 {color: #ff0000; font-family: Lato; font-weight: 400;}
.class-13 {width: 38px; height: 19px; left: 341px; top: 145px; position: absolute; text-align: left; color: #000000; font-size: 16px; font-family: Lato; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-14 {width: 264px; height: 48px; 
            left: 45px; top: 73px; 
            position: absolute; background: rgba(255, 255, 255, 1.0); 
            border: 1px #4285f4 solid; border-radius: 10px;  
            transform: rotate(0deg); transform-origin: 0 0;}
.class-15 {width: 264px; height: 48px; 
left: 46px; top: 167px; 
position: absolute; background: rgba(255, 255, 255, 1.0); 
border: 1px #4285f4 solid; border-radius: 10px;  
transform: rotate(0deg); transform-origin: 0 0;}
.class-16 {width: 264px; height: 48px; 
left: 46px; top: 255px; 
position: absolute; background: rgba(255, 255, 255, 1.0); 
border: 1px #4285f4 solid; border-radius: 10px;  
transform: rotate(0deg); transform-origin: 0 0;}
.class-17 {width: 264px; height: 48px; 
left: 335px; top: 254px; 
position: absolute; background: rgba(255, 255, 255, 1.0); 
border: 1px #4285f4 solid; border-radius: 10px;  
transform: rotate(0deg); transform-origin: 0 0;}
.class-18 {width: 264px; height: 48px; 
    left: 341px; top: 74px; 
    position: absolute; background: rgba(255, 255, 255, 1.0); 
    border: 1px #4285f4 solid; border-radius: 10px;  
    transform: rotate(0deg); transform-origin: 0 0;}
.class-19 {width: 264px; height: 48px; 
    left: 335px; top: 167px; 
    position: absolute; background: rgba(255, 255, 255, 1.0); 
    border: 1px #4285f4 solid; border-radius: 10px;  
    transform: rotate(0deg); transform-origin: 0 0;}
.class-20 {width: 18px;
        height: 18px;
        left: 608px;
        top: 16px;
        position: absolute;
        background: transparent;}
