.class-0 {width: 1505.0px; height: 881.0px; position: relative; background: rgba(0, 0, 0, 0.0)}
.class-1 {width: 1505px;
        height: 881px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: transparent;}
.class-2 {width: 1505.0px; height: 881.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-3 {width: 1505.0px; height: 90.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(0, 132, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-4 {width: 116.0px; height: 55.0px; 
                left: 48px; top: 18px; 
                position: absolute; object-fit: cover;}
.class-5 {width: 91px;
        height: 36px;
        left: 1332px;
        top: 27px;
        position: absolute;
        background: transparent;}
.class-6 {width: 45px; height: 28px; left: 46px; top: 4px; position: absolute; text-align: left; color: #ffffff; font-size: 20px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-7 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-8 {width: 247.0px; height: 791.0px; 
                left: 0px; top: 90px; 
                position: absolute; background: rgba(30, 136, 229, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-9 {width: 50px; height: 22px; left: 21px; top: 134px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-10 {width: 92px; height: 22px; left: 46px; top: 289px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-11 {width: 56px; height: 22px; left: 49px; top: 341px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-12 {width: 53px; height: 22px; left: 53px; top: 390px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-13 {width: 1115px;
        height: 690px;
        left: 286px;
        top: 124px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);
        border-radius: 16px;}
.class-14 {width: 1083px;
        height: 658px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-15 {width: 385px;
        height: 658px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: rgba(217, 217, 220, 1.0);}
.class-16 {width: 385px;
                        height: 48px;
                        left: 0px;
                        top: 0px;
                        position: absolute;
                        background: rgba(255, 255, 255, 1.0);}
.class-17 {width: 16px; height: 16px;
                            position: absolute; left: 16px; top: 12px;
                            background: transparent;}
.class-18 {width: 321px; height: 16px; left: 48px; top: 16px; position: absolute; text-align: left; color: #101018; font-size: 12px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-19 {width: 385px;
                    height: 60px;
                    left: 0px;
                    top: 49px;
                    position: absolute;
                    background: rgba(255, 255, 255, 1.0);}
.class-20 {width: 16px; height: 16px; 
                               position: absolute; left: 16px; top: 22px; 
                               background: transparent;}
.class-21 {width: 36px;
                        height: 36px;
                        left: 48px;
                        top: 12px;
                        position: absolute;
                        background: transparent;}
.class-22 {position: absolute; left: 0px; top: 0px; width: 36px; height: 36px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%;}
.class-23 {width: 36px; height: 36px; 
                            position: absolute; object-fit: cover;}
.class-24 {width: 277px;
                        height: 20px;
                        left: 92px;
                        top: 20px;
                        position: absolute;
                        background: transparent;}
.class-25 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-26 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-27 {width: 385px;
                        height: 60px;
                        left: 0px;
                        top: 110px;
                        position: absolute;
                        background: rgba(255, 255, 255, 1.0);}
.class-28 {width: 16px; height: 16px; 
                               position: absolute; left: 16px; top: 22px; 
                               background: transparent;}
.class-29 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-30 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%}
.class-31 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-32 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-33 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-34 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-35 {width: 385px;
        height: 60px;
        left: 0px;
        top: 171px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-36 {width: 16px; height: 16px; 
        position: absolute; left: 16px; top: 22px; 
        background: transparent;}
.class-37 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-38 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%}
.class-39 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-40 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-41 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-42 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-43 {width: 385px;
        height: 60px;
        left: 0px;
        top: 232px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-44 {width: 16px; height: 16px; 
position: absolute; left: 16px; top: 22px; 
background: transparent;}
.class-45 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-46 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(236, 236, 237, 1.0); border-radius: 50%}
.class-47 {width: 24px;
        height: 24px;
        left: 6px;
        top: 6px;
        position: absolute;
        background: transparent;}
.class-48 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-49 {width: 15.0px; height: 14.62px; left: 4px; top: 5px; position: absolute}
.class-50 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-51 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-52 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-53 {width: 385px;
        height: 60px;
        left: 0px;
        top: 293px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-54 {width: 16px; height: 16px; 
        position: absolute; left: 16px; top: 22px; 
        background: transparent;}
.class-55 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-56 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%}
.class-57 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-58 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-59 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-60 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-61 {width: 385px;
        height: 60px;
        left: 0px;
        top: 354px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-62 {width: 16px; height: 16px; 
position: absolute; left: 16px; top: 22px; 
background: transparent;}
.class-63 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-64 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%}
.class-65 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-66 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-67 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-68 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-69 {width: 385px;
        height: 60px;
        left: 0px;
        top: 415px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-70 {width: 16px; height: 16px; 
position: absolute; left: 16px; top: 22px; 
background: transparent;}
.class-71 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-72 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%}
.class-73 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-74 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-75 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-76 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-77 {width: 385px;
        height: 60px;
        left: 0px;
        top: 476px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-78 {width: 16px; height: 16px; 
position: absolute; left: 16px; top: 22px; 
background: transparent;}
.class-79 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-80 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%}
.class-81 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-82 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-83 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-84 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-85 {width: 385px;
        height: 60px;
        left: 0px;
        top: 537px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-86 {width: 16px; height: 16px; 
position: absolute; left: 16px; top: 22px; 
background: transparent;}
.class-87 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-88 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%}
.class-89 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-90 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-91 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-92 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-93 {width: 385px;
        height: 60px;
        left: 0px;
        top: 598px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-94 {width: 16px; height: 16px; 
position: absolute; left: 16px; top: 22px; 
background: transparent;}
.class-95 {width: 36px;
        height: 36px;
        left: 48px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-96 {position: absolute; left: 0px; top: 0px; width: 36.0px; height: 36.0px; background-color: rgba(217, 217, 217, 1.0); border-radius: 50%}
.class-97 {width: 36.0px; height: 36.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-98 {width: 277px;
        height: 20px;
        left: 92px;
        top: 20px;
        position: absolute;
        background: transparent;}
.class-99 {width: 277px; height: 20px; left: 0px; top: 0px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-100 {width: 132px; height: 16px; left: 0px; top: 20px; position: absolute; text-align: left; color: #6e6e71; font-size: 12px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-101 {width: 559px;
        height: 658px;
        left: 385px;
        top: 0px;
        position: absolute;
        background: rgba(217, 217, 220, 1.0);}
.class-102 {width: 559px;
        height: 48px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-103 {width: 24px;
        height: 24px;
        left: 16px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-104 {width: 527px; height: 16px; left: 16px; top: 16px; position: absolute; text-align: left; color: #101018; font-size: 12px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-105 {width: 559px;
        height: 60px;
        left: 0px;
        top: 49px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-106 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-107 {width: 559px;
        height: 60px;
        left: 0px;
        top: 110px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-108 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-109 {width: 559px;
        height: 60px;
        left: 0px;
        top: 171px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-110 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-111 {width: 559px;
        height: 60px;
        left: 0px;
        top: 232px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-112 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-113 {width: 559px;
        height: 60px;
        left: 0px;
        top: 293px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-114 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-115 {width: 559px;
        height: 60px;
        left: 0px;
        top: 354px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-116 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-117 {width: 559px;
        height: 60px;
        left: 0px;
        top: 415px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-118 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-119 {width: 559px;
        height: 60px;
        left: 0px;
        top: 476px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-120 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-121 {width: 559px;
        height: 60px;
        left: 0px;
        top: 537px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-122 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-123 {width: 559px;
        height: 60px;
        left: 0px;
        top: 598px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-124 {width: 527px; height: 20px; left: 16px; top: 20px; position: absolute; text-align: left; color: #35353a; font-size: 14px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-125 {width: 139px;
        height: 658px;
        left: 944px;
        top: 0px;
        position: absolute;
        background: rgba(217, 217, 220, 1.0);}
.class-126 {width: 139px;
        height: 48px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-127 {width: 24px;
        height: 24px;
        left: 16px;
        top: 12px;
        position: absolute;
        background: transparent;}
.class-128 {width: 107px; height: 16px; left: 16px; top: 16px; position: absolute; text-align: left; color: #101018; font-size: 12px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-129 {width: 139px;
        height: 60px;
        left: 0px;
        top: 49px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-130 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-131 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-132 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-133 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-134 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-135 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-136 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-137 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-138 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-139 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-140 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-141 {width: 139px;
        height: 60px;
        left: 0px;
        top: 110px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-142 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-143 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-144 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-145 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-146 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-147 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-148 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-149 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-150 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-151 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-152 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-153 {width: 139px;
        height: 60px;
        left: 0px;
        top: 171px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-154 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-155 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-156 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-157 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-158 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-159 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-160 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-161 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-162 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-163 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-164 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-165 {width: 139px;
        height: 60px;
        left: 0px;
        top: 232px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-166 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-167 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-168 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-169 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-170 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-171 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-172 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-173 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-174 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-175 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-176 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-177 {width: 139px;
        height: 60px;
        left: 0px;
        top: 293px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-178 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-179 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-180 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-181 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-182 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-183 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-184 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-185 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-186 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-187 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-188 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-189 {width: 139px;
        height: 60px;
        left: 0px;
        top: 354px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-190 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-191 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-192 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-193 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-194 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-195 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-196 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-197 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-198 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-199 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-200 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-201 {width: 139px;
        height: 60px;
        left: 0px;
        top: 415px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-202 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-203 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-204 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-205 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-206 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-207 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-208 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-209 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-210 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-211 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-212 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-213 {width: 139px;
        height: 60px;
        left: 0px;
        top: 476px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-214 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-215 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-216 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-217 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-218 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-219 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-220 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-221 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-222 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-223 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-224 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-225 {width: 139px;
        height: 60px;
        left: 0px;
        top: 537px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-226 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-227 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-228 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-229 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-230 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-231 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-232 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-233 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-234 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-235 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-236 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-237 {width: 139px;
        height: 60px;
        left: 0px;
        top: 598px;
        position: absolute;
        background: rgba(255, 255, 255, 1.0);}
.class-238 {width: 28px;
        height: 28px;
        left: 16px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-239 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-240 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-241 {width: 17.0px; height: 17.0px; left: 4px; top: 4px; position: absolute}
.class-242 {width: 28px;
        height: 28px;
        left: 52px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-243 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-244 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-245 {width: 15.0px; height: 16.88px; left: 4px; top: 4px; position: absolute}
.class-246 {width: 28px;
        height: 28px;
        left: 88px;
        top: 16px;
        position: absolute;
        background: transparent;}
.class-247 {width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        position: absolute;
        background: transparent;}
.class-248 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-249 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 210px;
        position: absolute;
        background: transparent;}
.class-250 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-251 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-252 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 271px;
        position: absolute;
        background: transparent;}
.class-253 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-254 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-255 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 332px;
        position: absolute;
        background: transparent;}
.class-256 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-257 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-258 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 393px;
        position: absolute;
        background: transparent;}
.class-259 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-260 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-261 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 454px;
        position: absolute;
        background: transparent;}
.class-262 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-263 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-264 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 515px;
        position: absolute;
        background: transparent;}
.class-265 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-266 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-267 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 576px;
        position: absolute;
        background: transparent;}
.class-268 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-269 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-270 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 637px;
        position: absolute;
        background: transparent;}
.class-271 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-272 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-273 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 698px;
        position: absolute;
        background: transparent;}
.class-274 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-275 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-276 {width: 24px;
        height: 24px;
        left: 1230px;
        top: 759px;
        position: absolute;
        background: transparent;}
.class-277 {width: 20.0px; height: 14.0px; left: 2px; top: 5px; position: absolute}
.class-278 {position: absolute; left: 8px; top: 8px; width: 8.0px; height: 8.0px; background-color: rgba(51, 54, 63, 1.0); border-radius: 50%}
.class-279 {width: 247.0px; height: 41.0px; 
                left: 0px; top: 175px; 
                position: absolute; background: rgba(225, 25, 55, 1.0); 
                 border-radius: 4.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-280 {width: 170px; height: 22px; left: 44px; top: 185px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-281 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 392px; 
                position: absolute; object-fit: cover;}
.class-282 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 184px; 
                position: absolute; object-fit: cover;}
.class-283 {width: 177px;
        height: 24px;
        left: 13px;
        top: 236px;
        position: absolute;
        background: transparent;}
.class-284 {width: 144px; height: 22px; left: 33px; top: 2px; position: absolute; text-align: left; color: #ffffff; font-size: 16px; font-family: Open Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-285 {width: 24.0px; height: 24.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
.class-286 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 288px; 
                position: absolute; object-fit: cover;}
.class-287 {width: 24.0px; height: 24.0px; 
                left: 13px; top: 340px; 
                position: absolute; object-fit: cover;}
.class-288 {width: 26.0px; height: 26.0px; 
                left: 1276px; top: 31px; 
                position: absolute; object-fit: cover;}
.class-289 {width: 144px;
        height: 47px;
        left: 44px;
        top: 769px;
        position: absolute;
        background: transparent;}
.class-290 {width: 144px; height: 47px; background: rgba(255, 255, 255, 1.0); border-radius: 9px; position: absolute; left: 0px; top: 0px; font-family: Open Sans; font-size: 16px; font-weight: 600; color: #000000; text-align: center;}
.class-291 {width: 91px;
        height: 27px;
        left: 21px;
        top: 11px;
        position: absolute;
        background: transparent;}
.class-292 {width: 27.0px; height: 27.0px; 
                left: 0px; top: 0px; 
                position: absolute; object-fit: cover;}
